In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split

pd.set_option('max_colwidth', 120)
pd.set_option('display.width', 500)
pd.set_option('display.max_rows', 20)
pd.set_option('display.max_columns', 50)

df = pd.read_csv('main_task.xls')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  object
 1   City               40000 non-null  object
 2   Cuisine Style      30717 non-null  object
 3   Ranking            40000 non-null  float64
 4   Rating             40000 non-null  float64
 5   Price Range        26114 non-null  object
 6   Number of Reviews  37457 non-null  float64
 7   Reviews            40000 non-null  object
 8   URL_TA             40000 non-null  object
 9   ID_TA              40000 non-null  object
dtypes: float64(3), object(7)
memory usage: 3.1+ MB

In [3]:
df.head(3)

  Restaurant_id       City                                                                                           Cuisine Style  Ranking  Rating Price Range  Number of Reviews                                                                                    Reviews                                                                        URL_TA     ID_TA
0       id_5569      Paris                                                                 ['European', 'French', 'International']   5570.0     3.5    $$ - $$$              194.0  [['Good food at your doorstep', 'A good hotel restaurant'], ['12/31/2017', '11/20/2017']]   /Restaurant_Review-g187147-d1912643-Reviews-R_Yves-Paris_Ile_de_France.html  d1912643
1       id_1535  Stockholm                                                                                                     NaN   1537.0     4.0         NaN               10.0              [['Unique cuisine', 'Delicious Nepalese food'], ['07/06/2017', '06/19/2016']]       /Restaurant_Review-g189852-d7992032-Reviews-Buddha_Nepal-Stockholm.html  d7992032
2        id_352     London  ['Japanese', 'Sushi', 'Asian', 'Grill', 'Vegetarian Friendly', 'Vegan Options', 'Gluten Free Options']    353.0     4.5        $$$$              688.0               [['Catch up with friends', 'Not exceptional'], ['01/08/2018', '01/06/2018']]  /Restaurant_Review-g186338-d8632781-Reviews-ROKA_Mayfair-London_England.html  d8632781

---------

In [4]:
# Создам словарь с городами и населением в них (в тыс. человек)
population_in_the_сity = {'Paris': 2148, 'Stockholm': 961, 'London': 8908, 'Berlin': 3644, 'Munich': 1471, 'Oporto': 237,
                          'Milan': 1378, 'Bratislava': 437, 'Vienna': 1897, 'Rome': 2870, 'Barcelona': 1664, 'Madrid': 3266,
                          'Dublin': 1173, 'Brussels': 179, 'Zurich': 428, 'Warsaw': 1790, 'Budapest': 1752, 'Copenhagen': 615,
                          'Amsterdam': 872, 'Lyon': 506, 'Hamburg': 1841, 'Lisbon': 505, 'Prague': 1301, 'Oslo': 673,
                          'Helsinki': 655, 'Edinburgh': 488, 'Geneva': 200, 'Ljubljana': 284, 'Athens': 664,
                          'Luxembourg': 602, 'Krakow': 779}

In [5]:
df['Population'] = df['City'].apply(lambda x: population_in_the_сity[x])  # Создание столбца с населением в городе

In [7]:
df.sample(3)

      Restaurant_id    City                                                                                                     Cuisine Style  Ranking  Rating Price Range  Number of Reviews                                                                                                                  Reviews                                                                                                         URL_TA      ID_TA  Population
21033       id_1363  London  ['Italian', 'Pizza', 'Mediterranean', 'European', 'Vegetarian Friendly', 'Gluten Free Options', 'Vegan Options']   1365.0     4.5    $$ - $$$               48.0  [['A fantastic Italian just across the road!', 'A Warm welcome into an italian delight..'], ['12/24/2017', '12/23/20...                                /Restaurant_Review-g186338-d12789362-Reviews-Maurizio_Barca-London_England.html  d12789362        8908
36810       id_2056  Berlin                                                                                                 ['Mediterranean']   2058.0     4.5    $$ - $$$               18.0                                           [['Great value', 'Nice tapas but a bit pricey'], ['04/04/2017', '01/13/2017']]                                            /Restaurant_Review-g187323-d8806690-Reviews-Pan_amb_Oli-Berlin.html   d8806690        3644
3969         id_977  Krakow                         ['Italian', 'Pizza', 'Contemporary', 'Pub', 'Fusion', 'Gastropub', 'Vegetarian Friendly']    978.0     4.5           $               10.0                                                  [['Super little Bistro', 'A Little Gem'], ['06/14/2017', '06/12/2017']]  /Restaurant_Review-g274772-d12399321-Reviews-Medusa_Bistro-Krakow_Lesser_Poland_Province_Southern_Poland.html  d12399321         779

-----------

In [ ]:
df['Price Range'].value_counts()

In [ ]:
df['Price Range'].isnull().sum()

-------

In [ ]:
df.City.unique()  # Список всех городов

In [ ]:
city_df = pd.get_dummies(df.City)  # Делаем дамми-признаки всех городов
city_df

In [ ]:
df = pd.concat([df, city_df], axis=1)  # Добавляем дамми-города в таблицу
df.sample(3)

------------

In [ ]:
df = df.drop(['Restaurant_id', 'City', 'Cuisine Style', 'Price Range', 'Reviews', 'URL_TA', 'ID_TA'], axis = 1)
df = df.fillna(0)

In [ ]:
X = df.drop(['Rating'], axis = 1)  
y = df['Rating']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [ ]:
# Импортируем необходимые библиотеки:
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели
from sklearn import metrics # инструменты для оценки точности модели

In [ ]:
# Создаём модель
regr = RandomForestRegressor(n_estimators=100)

# Обучаем модель на тестовом наборе данных
regr.fit(X_train, y_train)

# Используем обученную модель для предсказания рейтинга ресторанов в тестовой выборке.
# Предсказанные значения записываем в переменную y_pred
y_pred = regr.predict(X_test)

In [ ]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они в среднем отличаются
# Метрика называется Mean Absolute Error (MAE) и показывает среднее отклонение предсказанных значений от фактических.
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))