In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split

import cufflinks as cf
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
%matplotlib inline

pd.set_option('max_colwidth', 120)
pd.set_option('display.width', 500)
pd.set_option('display.max_rows', 20)
pd.set_option('display.max_columns', 50)

df = pd.read_csv('main_task.xls')

In [ ]:
df.info()

In [ ]:
df.head(3)

---------

# Population

In [2]:
# Создам словарь с городами и населением в них (в тыс. человек)
population_in_the_сity = {'Paris': 2148, 'Stockholm': 961, 'London': 8908, 'Berlin': 3644, 'Munich': 1471, 'Oporto': 237,
                          'Milan': 1378, 'Bratislava': 437, 'Vienna': 1897, 'Rome': 2870, 'Barcelona': 1664, 'Madrid': 3266,
                          'Dublin': 1173, 'Brussels': 179, 'Zurich': 428, 'Warsaw': 1790, 'Budapest': 1752, 'Copenhagen': 615,
                          'Amsterdam': 872, 'Lyon': 506, 'Hamburg': 1841, 'Lisbon': 505, 'Prague': 1301, 'Oslo': 673,
                          'Helsinki': 655, 'Edinburgh': 488, 'Geneva': 200, 'Ljubljana': 284, 'Athens': 664,
                          'Luxembourg': 602, 'Krakow': 779}

In [3]:
df['Population'] = df['City'].apply(lambda x: population_in_the_сity[x])  # Создание столбца с населением в городе

-----------

# Cuisine Style

In [4]:
df['Cuisine Style'] = df['Cuisine Style'].fillna('[]')
df['Cuisine Style'] = df['Cuisine Style'].apply(lambda x: x.replace('[','').replace(']','').replace("'", '').replace(' ',''))
df['Cuisine Style'] = df['Cuisine Style'].apply(lambda x: x.split(','))
df['Number of kitchen'] = df['Cuisine Style'].apply(lambda x: len(x))

# Дополнительно к кухням

In [ ]:
df.sample(3)

In [ ]:
#df['middle_east'] = 0
#df['africa'] = 0
#df['asia'] = 0
#df['europe'] = 0
#df['n_america'] = 0
#df['s_america'] = 0
#df['australia_and_islands'] = 0

In [ ]:
#df['africa'] = df['Cuisine Style'].apply(lambda x: 1 if for i in x: in africa else 0)

In [ ]:
#def ASD():
 #   for i in df['Cuisine Style']:
  #      for j in i:
   #         if j in africa:
    #            return True

In [ ]:
#cuisine = set()

In [ ]:
#for i in df['Cuisine Style']:
 #   for j in i:
  #      cuisine.add(j)

In [ ]:
#display(cuisine)

In [ ]:
middle_east = ['Afghani', 'Arabic', 'Armenian', 'Azerbaijani', 'Caucasian', 'Georgian', 'Lebanese', 'MiddleEastern',
               'Pakistani', 'Persian', 'Turkish', 'Uzbek']
africa = ['African', 'Egyptian', 'Ethiopian', 'Moroccan', 'Tunisian']
asia = ['Asian', 'Bangladeshi', 'Burmese', 'Cambodian', 'CentralAsian', 'Chinese', 'Fujian', 'Indian', 'Japanese', 'Korean',
        'MinorityChinese',  'Mongolian', 'Nepali', 'Singaporean', 'SriLankan', 'Sushi', 'Taiwanese', 'Thai', 'Tibetan',
        'Vietnamese', 'Xinjiang', 'Yunnan']
europe = ['Albanian', 'Austrian', 'Balti', 'Belgian', 'British', 'CentralEuropean', 'Croatian', 'Czech', 'Danish', 'Dutch',
          'EasternEuropean', 'European', 'French', 'German', 'Greek', 'Hungarian', 'Irish', 'Israeli', 'Italian', 'Latvian',
          'Mediterranean', 'Norwegian', 'Polish', 'Portuguese', 'Romanian', 'Russian', 'Scandinavian', 'Scottish', 'Slovenian',
          'Spanish', 'Swedish', 'Swiss', 'Ukrainian', 'Welsh']
n_america = ['American', 'Canadian', 'Caribbean', 'CentralAmerican', 'Cuban', 'Jamaican', 'Latin', 'Mexican', 'NativeAmerican',
             'Salvadoran', 'SouthAmerican', 'Southwestern']
s_america = ['Argentinean', 'Brazilian', 'Chilean',
             'Colombian', 'Ecuadorean', 'Peruvian', 'Venezuelan']
australia_and_islands = ['Australian', 'Hawaiian', 'Filipino',
                         'Indonesian', 'Malaysian', 'NewZealand', 'Polynesian']

In [ ]:
#def create_cuisine(name, region):
#    df[name] = df['Cuisine Style'].apply(lambda x: 1 if x in region else 0)

----------

# Price Range

In [ ]:
df['Price Range'].value_counts()

In [5]:
df['Price Range'] = df['Price Range'].fillna('$$ - $$$')
#df['Price Range'] = df['Price Range'].apply(lambda x: 1 if x == '$' else 2.5 if x == '$$ - $$$' else 4)

In [6]:
price_df = pd.get_dummies(df['Price Range'])  # Делаем дамми-признаки цен
price_df.sample(3)

       $  $$ - $$$  $$$$
321    0         1     0
10052  1         0     0
18119  1         0     0

In [7]:
df = pd.concat([df, price_df], axis=1)  # Добавляем дамми-цены в таблицу
df.sample(3)

      Restaurant_id    City                      Cuisine Style  Ranking  Rating Price Range  Number of Reviews                                                                              Reviews                                                                                                 URL_TA      ID_TA  Population  Number of kitchen  $  $$ - $$$  $$$$
9615        id_4111   Paris  [French, European, SouthAmerican]   4112.0     4.5    $$ - $$$               19.0  [['Very nice staff', 'Great Food, Drink and Staff!'], ['12/28/2017', '12/20/2017']]                            /Restaurant_Review-g187147-d12999266-Reviews-Limon-Paris_Ile_de_France.html  d12999266        2148                  3  0         1     0
27091       id_1943    Lyon                           [French]   1944.0     4.0    $$ - $$$                5.0                                                                             [[], []]  /Restaurant_Review-g187265-d3774112-Reviews-La_Table_des_Allumes-Lyon_Rhone_Auvergne_Rhone_Alpes.html   d3774112         506                  1  0         1     0
38648       id_6509  Madrid                                 []   6512.0     4.0    $$ - $$$               18.0     [['Nothing was good', 'My second home in Madrid'], ['12/10/2017', '08/18/2016']]                              /Restaurant_Review-g187514-d987893-Reviews-Cerveceria_Lena_CB-Madrid.html    d987893        3266                  1  0         1     0

---------

# Reviews

In [ ]:
#import pandas as pd
#import numpy as np
#
#from sklearn.model_selection import train_test_split
#
#import cufflinks as cf
#from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
#%matplotlib inline
#
#pd.set_option('max_colwidth', 120)
#pd.set_option('display.width', 500)
#pd.set_option('display.max_rows', 20)
#pd.set_option('display.max_columns', 50)
#
#df = pd.read_csv('main_task.xls')

In [ ]:
#df['Words'] = df['Reviews'].apply(lambda x: x.split('],')[0])
#df['Words'] = df['Words'].apply(lambda x: x.replace('[','').replace("'", ''))
#df.Words.sample(10)

In [8]:
df['Two_reviews'] = df['Reviews'].apply(lambda x: x.split('],')[0])
df['Two_reviews'] = df['Two_reviews'].apply(lambda x: x.split("',"))
df['Review_1'] = df['Two_reviews'].apply(lambda x: x[0])
df['Review_1'] = df['Review_1'].apply(lambda x: x.replace('[','').replace("'", ''))

In [9]:
df['Review_2'] = df['Two_reviews'].apply(lambda x: x[-1])
df['Review_2'] = df['Review_2'].apply(lambda x: x.replace('[','').replace("'", ''))

-----------

# Тональный анализ

In [10]:
#Установка и подключение необходимой библиотеки
#conda install -c conda-forge textblob

from textblob import TextBlob

In [11]:
df['Review_1'] = df['Review_1'].apply(lambda x: TextBlob(x).polarity)

In [12]:
df['Review_2'] = df['Review_2'].apply(lambda x: TextBlob(x).polarity)

In [ ]:
#df['Two_reviews'] = (df['Review_1']+df['Review_2'])/2

In [ ]:
df.sample(3)

In [ ]:
#for i in range(30):
#    sentence = df.Words[i]
#    analysis = TextBlob(sentence).sentiment
#    print(df.Words[i])
#    print(analysis)
#    print()

In [ ]:
#import nltk
#nltk.download('movie_reviews')

In [ ]:
a = '[[Good food at your doorstep'
TextBlob(a).sentiment

In [ ]:
#from textblob.sentiments import NaiveBayesAnalyzer

 -------

In [ ]:
init_notebook_mode(connected = True)
cf.go_offline()

In [ ]:
df['Price Range'].iplot()

-------

# City

In [ ]:
df.City.unique()  # Список всех городов

In [13]:
city_df = pd.get_dummies(df.City)  # Делаем дамми-признаки всех городов
city_df.sample(3)

       Amsterdam  Athens  Barcelona  Berlin  Bratislava  Brussels  Budapest  Copenhagen  Dublin  Edinburgh  Geneva  Hamburg  Helsinki  Krakow  Lisbon  Ljubljana  London  Luxembourg  Lyon  Madrid  Milan  Munich  Oporto  Oslo  Paris  Prague  Rome  Stockholm  Vienna  Warsaw  Zurich
1780           0       0          0       0           0         0         0           1       0          0       0        0         0       0       0          0       0           0     0       0      0       0       0     0      0       0     0          0       0       0       0
24109          0       0          0       0           0         0         0           0       0          0       1        0         0       0       0          0       0           0     0       0      0       0       0     0      0       0     0          0       0       0       0
12219          0       0          1       0           0         0         0           0       0          0       0        0         0       0       0          0       0           0     0       0      0       0       0     0      0       0     0          0       0       0       0

In [14]:
df = pd.concat([df, city_df], axis=1)  # Добавляем дамми-города в таблицу

------------

# Удаление и сбор данных

In [15]:
df.sample(3)

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA,Population,Number of kitchen,$,$$ - $$$,$$$$,Two_reviews,Review_1,Review_2,Amsterdam,Athens,Barcelona,Berlin,Bratislava,Brussels,Budapest,Copenhagen,Dublin,Edinburgh,Geneva,Hamburg,Helsinki,Krakow,Lisbon,Ljubljana,London,Luxembourg,Lyon,Madrid,Milan,Munich,Oporto,Oslo,Paris,Prague,Rome,Stockholm,Vienna,Warsaw,Zurich
1045,id_2242,Stockholm,[Thai],2246.0,3.0,$,16.0,"[['European style Thai food', 'quickly going down!'], ['08/19/2017', '12/07/2017']]",/Restaurant_Review-g189852-d10444782-Reviews-Mae_Thai_Fridhemsplan-Stockholm.html,d10444782,961,1,1,0,0,"[[['European style Thai food, 'quickly going down!']",0.0,0.069444,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
24065,id_326,Hamburg,[VegetarianFriendly],327.0,4.0,$$$$,69.0,"[['Two tired tourists....', 'Reasonable Prices in a very nice location'], ['09/22/2017', '08/29/2017']]",/Restaurant_Review-g187331-d1112688-Reviews-Wandrahm-Hamburg.html,d1112688,1841,1,0,0,1,"[[['Two tired tourists...., 'Reasonable Prices in a very nice location']",-0.4,0.490000,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
32463,id_3204,Milan,[],3206.0,4.0,$$ - $$$,22.0,"[['Restaurant… Fish only fish... but what fis...'], ['10/14/2014']]",/Restaurant_Review-g187849-d4404704-Reviews-Al_Bicocca_Milano-Milan_Lombardy.html,d4404704,1378,1,0,1,0,[[['Restaurant… Fish only fish... but what fis...'],0.0,0.000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [16]:
#df = df.drop(['Restaurant_id', 'City', 'Cuisine Style', 'Price Range', 'Reviews', 'URL_TA', 'ID_TA', 'Two_reviews',
#              'Review_1', 'Review_2'], axis = 1)
df = df.drop(['Restaurant_id', 'City', 'Price Range', 'Cuisine Style', 'Reviews', 'URL_TA', 'ID_TA', 'Two_reviews'], axis = 1)
df = df.fillna(0)

In [17]:
df.sample(3)

       Ranking  Rating  Number of Reviews  Population  Number of kitchen  $  $$ - $$$  $$$$  Review_1  Review_2  Amsterdam  Athens  Barcelona  Berlin  Bratislava  Brussels  Budapest  Copenhagen  Dublin  Edinburgh  Geneva  Hamburg  Helsinki  Krakow  Lisbon  Ljubljana  London  Luxembourg  Lyon  Madrid  Milan  Munich  Oporto  Oslo  Paris  Prague  Rome  Stockholm  Vienna  Warsaw  Zurich
11907    915.0     5.0               55.0        8908                  5  1         0     0      1.00      1.00          0       0          0       0           0         0         0           0       0          0       0        0         0       0       0          0       1           0     0       0      0       0       0     0      0       0     0          0       0       0       0
8313    1715.0     3.5              180.0        1378                  5  1         0     0      0.70      0.55          0       0          0       0           0         0         0           0       0          0       0        0         0       0       0          0       0           0     0       0      1       0       0     0      0       0     0          0       0       0       0
28506    645.0     4.0              205.0        3644                  4  1         0     0      0.91      1.00          0       0          0       1           0         0         0           0       0          0       0        0         0       0       0          0       0           0     0       0      0       0       0     0      0       0     0          0       0       0       0

In [18]:
X = df.drop(['Rating'], axis = 1)  
y = df['Rating']

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [20]:
# Импортируем необходимые библиотеки:
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели
from sklearn import metrics # инструменты для оценки точности модели

In [21]:
# Создаём модель
regr = RandomForestRegressor(n_estimators=100)

# Обучаем модель на тестовом наборе данных
regr.fit(X_train, y_train)

# Используем обученную модель для предсказания рейтинга ресторанов в тестовой выборке.
# Предсказанные значения записываем в переменную y_pred
y_pred = regr.predict(X_test)

In [22]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они в среднем отличаются
# Метрика называется Mean Absolute Error (MAE) и показывает среднее отклонение предсказанных значений от фактических.
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))

MAE: 0.212815

In [ ]:
# Результаты:
# Цена заменена на 2.5 или на $$-$$$
# Население, дамми-города, кол. кухонь, цены в столбце 0.212993
# Население, дамми-города, кол. кухонь, дамми-цены 0.21267799999999998
# Население, дамми-города, кол.кухонь, две рецензии 0.2092545
# Население, дамми-города, кол.кухонь, две рецензии, дамми-цены 0.20769 (0.212815)
# Население, дамми-города, кол.кухонь, две рецензии, цены в столбце 0.21114349999999998
# Население, дамми-города, кол.кухонь, одна средняя рецензия 0.212187
# Население, дамми-города, кол.кухонь, одна средняя рецензия, дамми-цены 0.21217249999999999
# Население, дамми-города, кол.кухонь, одна средняя рецензия, цены в столбце 0.21305249999999995