In [2]:
import pandas as pd

from sklearn.model_selection import train_test_split  # Для разбивки выборки для обучения и теста  

pd.set_option('max_colwidth', 120)
pd.set_option('display.width', 500)

df = pd.read_csv('main_task.xls')

In [ ]:
display(df.sample(10))

In [ ]:
df.info()

In [ ]:
df.iloc[31594]

In [ ]:
df = df.drop(['Restaurant_id', 'City', 'Cuisine Style', 'Price Range', 'Reviews', 'URL_TA', 'ID_TA'], axis = 1)

In [ ]:
df.sample(3)

In [ ]:
df = df.fillna(0)

In [ ]:
df.info()

---------------

In [ ]:
X = df.drop(['Rating'], axis = 1)

In [ ]:
X.sample(3)

In [ ]:
y = df['Rating']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [ ]:
X_train.sample(3)

In [ ]:
# Импортируем необходимые библиотеки:
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели
from sklearn import metrics # инструменты для оценки точности модели

In [ ]:
# Создаём модель
regr = RandomForestRegressor(n_estimators=100)

# Обучаем модель на тестовом наборе данных
regr.fit(X_train, y_train)

# Используем обученную модель для предсказания рейтинга ресторанов в тестовой выборке.
# Предсказанные значения записываем в переменную y_pred
y_pred = regr.predict(X_test)

In [ ]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они в среднем отличаются
# Метрика называется Mean Absolute Error (MAE) и показывает среднее отклонение предсказанных значений от фактических.
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))

In [ ]:
df.sample(3)

In [ ]:
df['Price Range'].value_counts()

In [3]:
df.City.unique()

array(['Paris', 'Stockholm', 'London', 'Berlin', 'Munich', 'Oporto',
       'Milan', 'Bratislava', 'Vienna', 'Rome', 'Barcelona', 'Madrid',
       'Dublin', 'Brussels', 'Zurich', 'Warsaw', 'Budapest', 'Copenhagen',
       'Amsterdam', 'Lyon', 'Hamburg', 'Lisbon', 'Prague', 'Oslo',
       'Helsinki', 'Edinburgh', 'Geneva', 'Ljubljana', 'Athens',
       'Luxembourg', 'Krakow'], dtype=object)

In [4]:
cuisine = set()

In [5]:
df.sample(3)

      Restaurant_id    City                          Cuisine Style  Ranking  Rating Price Range  Number of Reviews                                                                                               Reviews                                                                                       URL_TA     ID_TA
25719       id_4257   Milan                            ['Italian']   4260.0     4.0         NaN               19.0                                                                                              [[], []]            /Restaurant_Review-g187849-d2019326-Reviews-Ristorante_Silver-Milan_Lombardy.html  d2019326
21917       id_5554   Paris                      ['Asian', 'Thai']   5555.0     3.5    $$ - $$$               82.0  [['Excellent authentic Thai food with gentle...', 'Tasty fresh Thai'], ['03/25/2017', '09/22/2016']]              /Restaurant_Review-g187147-d786640-Reviews-Ban_Som_Tam-Paris_Ile_de_France.html   d786640
37338      id_14999  London  ['American', 'Bar', 'British', 'Pub']  15010.0     3.0    $$ - $$$              243.0              [['Bossy manageress !!', 'Nothing great, but good value'], ['11/25/2017', '10/03/2017']]  /Restaurant_Review-g186338-d1989643-Reviews-Sports_Bar_Grill_Marylebone-London_England.html  d1989643

In [6]:
df['Cuisine Style'] = df['Cuisine Style'].apply(lambda x: None if pd.isnull(x) else x)
df['Cuisine Style']

0                                                                       ['European', 'French', 'International']
1                                                                                                          None
2        ['Japanese', 'Sushi', 'Asian', 'Grill', 'Vegetarian Friendly', 'Vegan Options', 'Gluten Free Options']
3                                                                                                          None
4                                                         ['German', 'Central European', 'Vegetarian Friendly']
                                                          ...
39995                                ['Italian', 'Vegetarian Friendly', 'Vegan Options', 'Gluten Free Options']
39996                                          ['French', 'American', 'Bar', 'European', 'Vegetarian Friendly']
39997                                                                                     ['Japanese', 'Sushi']
39998                     ['Polish', 'European', 'Eastern European', 'Central European', 'Vegetarian Friendly']
39999                                                                                               ['Spanish']
Name: Cuisine Style, Length: 40000, dtype: object

In [7]:
for i in df['Cuisine Style']:
    if i != None:
        for j in i:
            cuisine.add(j)

In [7]:
df['Cuisine Style'] = df['Cuisine Style'].str.replace(']', '')
df['Cuisine Style'] = df['Cuisine Style'].str.replace('[', '')
df['Cuisine Style'] = df['Cuisine Style'].str.replace(' ', '')
df['Cuisine Style'] = df['Cuisine Style'].str.split(',')
df['Cuisine Style']

0                                                                   ['European', 'French', 'International']
1                                                                                                      None
2        ['Japanese', 'Sushi', 'Asian', 'Grill', 'VegetarianFriendly', 'VeganOptions', 'GlutenFreeOptions']
3                                                                                                      None
4                                                       ['German', 'CentralEuropean', 'VegetarianFriendly']
                                                        ...
39995                                ['Italian', 'VegetarianFriendly', 'VeganOptions', 'GlutenFreeOptions']
39996                                       ['French', 'American', 'Bar', 'European', 'VegetarianFriendly']
39997                                                                                 ['Japanese', 'Sushi']
39998                    ['Polish', 'European', 'EasternEuropean', 'CentralEuropean', 'VegetarianFriendly']
39999                                                                                           ['Spanish']
Name: Cuisine Style, Length: 40000, dtype: object

In [8]:
df['Cuisine Style']

0                                                                       ['European', 'French', 'International']
1                                                                                                          None
2        ['Japanese', 'Sushi', 'Asian', 'Grill', 'Vegetarian Friendly', 'Vegan Options', 'Gluten Free Options']
3                                                                                                          None
4                                                         ['German', 'Central European', 'Vegetarian Friendly']
                                                          ...
39995                                ['Italian', 'Vegetarian Friendly', 'Vegan Options', 'Gluten Free Options']
39996                                          ['French', 'American', 'Bar', 'European', 'Vegetarian Friendly']
39997                                                                                     ['Japanese', 'Sushi']
39998                     ['Polish', 'European', 'Eastern European', 'Central European', 'Vegetarian Friendly']
39999                                                                                               ['Spanish']
Name: Cuisine Style, Length: 40000, dtype: object

In [9]:
cuisine

{' ',
 '&',
 "'",
 ',',
 'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z',
 '[',
 ']',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z'}