In [ ]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split

import cufflinks as cf
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
%matplotlib inline

pd.set_option('max_colwidth', 120)
pd.set_option('display.width', 500)
pd.set_option('display.max_rows', 20)
pd.set_option('display.max_columns', 50)

df = pd.read_csv('main_task.xls')

In [ ]:
df.info()

In [ ]:
df.head(3)

---------

# Population

In [ ]:
# Создам словарь с городами и населением в них (в тыс. человек)
population_in_the_сity = {'Paris': 2148, 'Stockholm': 961, 'London': 8908, 'Berlin': 3644, 'Munich': 1471, 'Oporto': 237,
                          'Milan': 1378, 'Bratislava': 437, 'Vienna': 1897, 'Rome': 2870, 'Barcelona': 1664, 'Madrid': 3266,
                          'Dublin': 1173, 'Brussels': 179, 'Zurich': 428, 'Warsaw': 1790, 'Budapest': 1752, 'Copenhagen': 615,
                          'Amsterdam': 872, 'Lyon': 506, 'Hamburg': 1841, 'Lisbon': 505, 'Prague': 1301, 'Oslo': 673,
                          'Helsinki': 655, 'Edinburgh': 488, 'Geneva': 200, 'Ljubljana': 284, 'Athens': 664,
                          'Luxembourg': 602, 'Krakow': 779}

In [ ]:
df['Population'] = df['City'].apply(lambda x: population_in_the_сity[x])  # Создание столбца с населением в городе

-----------

# Cuisine Style

In [ ]:
df['Cuisine Style'] = df['Cuisine Style'].fillna('[]')
df['Cuisine Style'] = df['Cuisine Style'].apply(lambda x: x.replace('[','').replace(']','').replace("'", '').replace(' ',''))
df['Cuisine Style'] = df['Cuisine Style'].apply(lambda x: x.split(','))
df['Number of kitchen'] = df['Cuisine Style'].apply(lambda x: len(x))

In [ ]:
df.sample(3)

In [ ]:
#df['middle_east'] = 0
#df['africa'] = 0
#df['asia'] = 0
#df['europe'] = 0
#df['n_america'] = 0
#df['s_america'] = 0
#df['australia_and_islands'] = 0

In [ ]:
#df['africa'] = df['Cuisine Style'].apply(lambda x: 1 if for i in x: in africa else 0)

In [ ]:
#def ASD():
 #   for i in df['Cuisine Style']:
  #      for j in i:
   #         if j in africa:
    #            return True

In [ ]:
#cuisine = set()

In [ ]:
#for i in df['Cuisine Style']:
 #   for j in i:
  #      cuisine.add(j)

In [ ]:
#display(cuisine)

In [ ]:
middle_east = ['Afghani', 'Arabic', 'Armenian', 'Azerbaijani', 'Caucasian', 'Georgian', 'Lebanese', 'MiddleEastern',
               'Pakistani', 'Persian', 'Turkish', 'Uzbek']
africa = ['African', 'Egyptian', 'Ethiopian', 'Moroccan', 'Tunisian']
asia = ['Asian', 'Bangladeshi', 'Burmese', 'Cambodian', 'CentralAsian', 'Chinese', 'Fujian', 'Indian', 'Japanese', 'Korean',
        'MinorityChinese',  'Mongolian', 'Nepali', 'Singaporean', 'SriLankan', 'Sushi', 'Taiwanese', 'Thai', 'Tibetan',
        'Vietnamese', 'Xinjiang', 'Yunnan']
europe = ['Albanian', 'Austrian', 'Balti', 'Belgian', 'British', 'CentralEuropean', 'Croatian', 'Czech', 'Danish', 'Dutch',
          'EasternEuropean', 'European', 'French', 'German', 'Greek', 'Hungarian', 'Irish', 'Israeli', 'Italian', 'Latvian',
          'Mediterranean', 'Norwegian', 'Polish', 'Portuguese', 'Romanian', 'Russian', 'Scandinavian', 'Scottish', 'Slovenian',
          'Spanish', 'Swedish', 'Swiss', 'Ukrainian', 'Welsh']
n_america = ['American', 'Canadian', 'Caribbean', 'CentralAmerican', 'Cuban', 'Jamaican', 'Latin', 'Mexican', 'NativeAmerican',
             'Salvadoran', 'SouthAmerican', 'Southwestern']
s_america = ['Argentinean', 'Brazilian', 'Chilean',
             'Colombian', 'Ecuadorean', 'Peruvian', 'Venezuelan']
australia_and_islands = ['Australian', 'Hawaiian', 'Filipino',
                         'Indonesian', 'Malaysian', 'NewZealand', 'Polynesian']

In [ ]:
#def create_cuisine(name, region):
#    df[name] = df['Cuisine Style'].apply(lambda x: 1 if x in region else 0)

----------

# Price Range

In [ ]:
df['Price Range'].value_counts()

In [ ]:
df['Price Range'] = df['Price Range'].fillna('$$ - $$$')
#df['Price Range'] = df['Price Range'].apply(lambda x: 1 if x == '$' else 2.5 if x == '$$ - $$$' else 4)

In [ ]:
price_df = pd.get_dummies(df['Price Range'])  # Делаем дамми-признаки цен
price_df.sample(3)

In [ ]:
df = pd.concat([df, price_df], axis=1)  # Добавляем дамми-цены в таблицу
df.sample(3)

---------

# Reviews

In [7]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split

import cufflinks as cf
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
%matplotlib inline

pd.set_option('max_colwidth', 120)
pd.set_option('display.width', 500)
pd.set_option('display.max_rows', 20)
pd.set_option('display.max_columns', 50)

df = pd.read_csv('main_task.xls')

In [ ]:
#df['Words'] = df['Reviews'].apply(lambda x: x.split('],')[0])
#df['Words'] = df['Words'].apply(lambda x: x.replace('[','').replace("'", ''))
#df.Words.sample(10)

In [8]:
df['Two_reviews'] = df['Reviews'].apply(lambda x: x.split('],')[0])
df['Two_reviews'] = df['Two_reviews'].apply(lambda x: x.split("',"))
df['Review_1'] = df['Two_reviews'].apply(lambda x: x[0])
df['Review_1'] = df['Review_1'].apply(lambda x: x.replace('[','').replace("'", ''))
df['Review_1']

0               Good food at your doorstep
1                           Unique cuisine
2                    Catch up with friends
3
4        Best place to try a Bavarian food
                       ...
39995         The real Italian experience!
39996                  Parisian atmosphere
39997            Good by swedish standards
39998               Underground restaurant
39999                              Average
Name: Review_1, Length: 40000, dtype: object

In [9]:
df['Review_2'] = df['Two_reviews'].apply(lambda x: x[-1])
df['Review_2'] = df['Review_2'].apply(lambda x: x.replace('[','').replace("'", ''))
df['Review_2']

0                               A good hotel restaurant
1                               Delicious Nepalese food
2                                       Not exceptional
3
4          Nice building but improvements need to be...
                              ...
39995              Wonderful food, wonderful experience
39996      Bit pricey but interesting decor and good...
39997     A hidden jewel in the middle of Västertorp...
39998                       Oldest Restaurant in Warsaw
39999                                  Nice an informal
Name: Review_2, Length: 40000, dtype: object

-----------

# Тональный анализ

In [2]:
#Установка и подключение необходимой библиотеки
#conda install -c conda-forge textblob

from textblob import TextBlob

In [ ]:
#for i in range(30):
#    sentence = df.Words[i]
#    analysis = TextBlob(sentence).sentiment
#    print(df.Words[i])
#    print(analysis)
#    print()

In [ ]:
#import nltk
#nltk.download('movie_reviews')

In [3]:
a = '[[Good food at your doorstep'
TextBlob(a).sentiment

Sentiment(polarity=0.7, subjectivity=0.6000000000000001)

In [ ]:
#from textblob.sentiments import NaiveBayesAnalyzer

 -------

In [ ]:
init_notebook_mode(connected = True)
cf.go_offline()

In [ ]:
df['Price Range'].iplot()

-------

# City

In [ ]:
df.City.unique()  # Список всех городов

In [ ]:
city_df = pd.get_dummies(df.City)  # Делаем дамми-признаки всех городов
city_df

In [ ]:
df = pd.concat([df, city_df], axis=1)  # Добавляем дамми-города в таблицу
df.sample(3)

------------

# Удаление и сбор данных

In [ ]:
df = df.drop(['Restaurant_id', 'City', 'Cuisine Style', 'Price Range', 'Reviews', 'URL_TA', 'ID_TA'], axis = 1)
df = df.fillna(0)

In [ ]:
X = df.drop(['Rating'], axis = 1)  
y = df['Rating']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [ ]:
# Импортируем необходимые библиотеки:
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели
from sklearn import metrics # инструменты для оценки точности модели

In [ ]:
# Создаём модель
regr = RandomForestRegressor(n_estimators=100)

# Обучаем модель на тестовом наборе данных
regr.fit(X_train, y_train)

# Используем обученную модель для предсказания рейтинга ресторанов в тестовой выборке.
# Предсказанные значения записываем в переменную y_pred
y_pred = regr.predict(X_test)

In [ ]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они в среднем отличаются
# Метрика называется Mean Absolute Error (MAE) и показывает среднее отклонение предсказанных значений от фактических.
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))

In [ ]:
# Результаты:
# Цена заменена на 2.5
# Население, дамми-города, кол. кухонь, цены в столбце 0.21535249999999997
# Население, дамми-города, кол. кухонь, дамми-цены 0.2134015
# 
#